.rounded-area{
    border-radius: 40px;
    padding: 10px 20px;
}

.social-icons i{
    font-size: 20px;
    color: #a1a1a1;
}

.social-icons .fas{
    font-size: 20px;
    color: #FFD65C;
}

.social-icons i:hover{
    color: #FFD65C;
    cursor: pointer;
}

.fa-twitter{
    margin-left: 10px;
    margin-right: 10px;
}

.area-contact-us{
    margin-bottom: 40px;
}

.size-map{
    width:100%;
    min-height: 500px;
}

.error{
    color: #E06666;
}

.fa-check-circle{
    color:#99E598;
}

#messageSuccess{
    margin-top: 100px;
}

@media (min-width: 992px){
    #move{
        margin-left: 100px;
    }

    #container-section{
        margin-top: 80px;
        margin-bottom: 80px;
    }    

    .title-social{
        font-weight: bold!important;
    }
}

@media (max-width: 560px){
    #move{
        margin-left: auto;
        margin-right: auto;
    }
    #container-section{
        margin-top: 40px;
        margin-bottom: 40px;
    }    
    .title-social{
        font-weight: bold!important;
        font-size: 15px;
    }
}