.encabezado-list-menu-div{
    width:100%;
    margin-left: auto;
    margin-right:auto;
    margin-top: 20px;
    margin-bottom: 20px;

}

.encabezado-list-menu{
    font-variant: initial;
    font-size: 50px;
    color:#101010;
    text-transform: capitalize;
    justify-items: center;
    text-align: center;
    font-family: 'Kalam', cursive;
}

#list-menu{
    width: 100%;
    //height: 500px;
    padding-top: 100px;
    padding-bottom: 100px;
    //background-color: lightsteelblue;
    background-color: #F2F3F8;
}