.title{
    width: 100%;
}

.title img{
    object-fit: cover;
    width: 100%;
    z-index: 1;
}

.title h3{
    display: inline;
}

@media (min-width: 912px) {
    .title{
        height: 300px;
        display:inline-flexbox;
        position: relative;
        text-align: center;
    }

    .title img{
        height: 300px;
    }
    .title h3{
        position: absolute;
        //top: 38%;
        top: 50%;
        display: block;
        //left: 47%;
        left:50%;
        color:white;
        text-transform: capitalize;
        //font-weight: bold!important;
        font-family: 'Changa One', cursive;
        font-size: 50px;
        letter-spacing: 3px;
        transform: translate(-50%, -50%);
    }

    .div-link{
        position: absolute;
        //top: 59%;
        top:65%;
        display: block;
        //left: 46.7%;
        left:50%;
        color:white;
        font-size: 20px;
        transform: translate(-50%, -60%);
    }
    .div-link a{
        text-decoration: none;
        color: #FFBF00;
    }
    .div-link a:hover{
        color:white
    }
    .div-link i{
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (max-width: 560px) {
    .title img{
        height: 150px;
        
    }
}